/* Page Setup */
*
{
    box-sizing: border-box;
    font-family: Quattrocento, Arial, sans-serif;
    font-size: 12pt;
}

html
{
    width: 100%;
    min-width: 100%;
}

body
{
    background-color: #191f45;
    display: flex;
    justify-content: center;
    min-width: 100%;
}

/* Classes */
.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;
}

.window
{
    width: 400px;
    height: auto;
    margin: 40px 10px;
    top: 0;
    transition: transform ease 300ms;
}

.icon
{

    border-radius: 10px;
    top: 0;
    transition: transform ease 300ms;
}

.link
{
    max-width: 55px;
    max-height: auto;
    position: relative;
}

.dock
{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 5%;
    background-color: #282c49;
    margin: auto;
    width: 500px;
    height: 75px;
    border-radius: 50px;
    z-index: 1;
}

.icon_row
{
    display: inline-flex;
    justify-content: center;
    padding: 10px 0px;
    max-height: 100%;
}

.icon_row a
{
    display: inline-flex;
    margin: 0px 20px;
}

.modal_header
{
    justify-content: center;
    text-align: center;
}

.row 
{
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    margin: 5px;
}
  
.column 
{
    margin: 0 auto;
    text-align: center;
    flex: 50%;
    padding: 5px;
    list-style-position: inside;
}

.columnThrees 
{
    text-align: center;
    flex: 30%;
    padding: 10px;
    list-style-position: inside;
}

.text_block
{
    text-align: center;
}

.work
{
    background-color: #BB8FCE;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-flex;
    margin-left: 10px;
}

.personal
{
    background-color: #7DCEA0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-flex;
    margin-left: 10px;
}

.course
{
    background-color: #F1948A ;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-flex;
    margin-left: 10px;
}

/* Animations in CSS */
.icon:hover
{
    transform: translate(0, -15px);
}

.window:hover
{
    transform: translate(0, -20px);
}

/* Layout for popup windows */
#aboutMe, #projects
{
    transform: scale(0.8);
    max-width: 1050px;
    width: 80%;
    max-height: 650px;
    height: 85%; 
    padding: 20px;
    position: relative;
    background: rgb(231, 231, 231);
    margin: 20px auto;
    border-radius: 20px;
    overflow-y: auto;
}

#tech
{
    transform: scale(0.8);
    max-width: 900px;
    width: 80%;
    max-height: 650px;
    height: 85%; 
    padding: 20px;
    position: relative;
    background: rgb(231, 231, 231);
    margin: 20px auto;
    border-radius: 20px;
    overflow-y: auto;
}

#closeab, #closepro, #closetech 
{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #000;
    background-color: #FF605C;
    width: 15px;
    height: 15px;
    border-radius: 7px;
}

.popup_visible #aboutMe
{
    transform: scale(1);
}
.popup_visible #projects 
{
    transform: scale(1);
}
.popup_visible #tech 
{
    transform: scale(1);
}

.typewriter
{
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing 
{
    from 
    { 
        width: 0 
    }
    to 
    { 
        width: 100% 
    }
}

/* Layout for screens over the 990px breakpoint */
@media screen and (min-width: 990px)
{
    .leftCol
    {
        position: relative;
        left: 10px;
        top: -25px;
    }
    .rightCol
    {
        position: relative;
        top: 25px;
    }
}